# Virtual environment
venv/
.env/

.spyproject/

# Python cache files
**/__pycache__/
__pycache__/
*.pyc
*.pyo


# database files
data/
**/*.csv

#keras model files
keras_tuner_dir/

# depricated files
_depricated/
